{% load static %}

<html>
    <head>
        {% block title %}<title>The List</title>{% endblock %}
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">
        <link rel="stylesheet" href="{% static '/bootstrap/css/bootstrap.css' %}">
        <link rel="stylesheet" href="{% static '/bootstrap/css/custom.css' %}">

        <script src="{% static '/bootstrap/jquery-3.4.1.slim.min.js' %}"></script>
        <script src="{% static '/bootstrap/popper.min.js' %}"></script>
        <script src="{% static '/bootstrap/js/bootstrap.min.js' %}"></script>
        
    </head>
    <body>
        <nav class="navbar navbar-dark bg-custom mb-3 sticky-top" style="background-color: #590404;">
            <a class="navbar-brand mb-0" href="{% url 'view_menu' %}">My Tapas Menu</span> </a>
            <a href="{% url 'add_menu' %}" style="color:white"><i class="material-icons">add</i></a>

        </nav>

        <div>
            <div class="row">
                <div class="col-3">
                    <div class="d-flex flex-column p-3 text-white bg-dark" style="width: 280px;">
                        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                          <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
                          <span class="fs-4">Sidebar</span>
                        </a>
                        <hr>
                        <ul class="nav nav-pills flex-column mb-auto">
                            {% block sidebar %}
                          <li class="nav-item">
                            <a href="#" class="nav-link active" aria-current="page">
                              <svg class="bi me-2" width="16" height="16"><use xlink:href="#home"></use></svg>
                              View Wines
                            </a>
                          </li>
                          <li>
                            <a href="#" class="nav-link text-white">
                              <svg class="bi me-2" width="16" height="16"><use xlink:href="#speedometer2"></use></svg>
                              View Large Dishes
                            </a>
                          </li>
                          <li>
                            <a href="#" class="nav-link text-white">
                              <svg class="bi me-2" width="16" height="16"><use xlink:href="#table"></use></svg>
                              View Coursed Menus
                            </a>
                          </li>
                          {% endblock %}
                        </ul>
                        <hr>
                        <div class="dropdown">
                          <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                            <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">
                            <strong>mdo</strong>
                          </a>
                          <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
                            <li><a class="dropdown-item" href="#">New project...</a></li>
                            <li><a class="dropdown-item" href="#">Settings</a></li>
                            <li><a class="dropdown-item" href="#">Profile</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="#">Sign out</a></li>
                          </ul>
                        </div>
                      </div>
                </div>
                <div class="col-9">
                    {% include 'tapasapp/messages.html' %}
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>  
        
        <footer class="footer bg-custom" style="background-color: #590404;">

            <!-- Copyright -->
            <div class="container">&copy; 2020</div>
            <!-- Copyright -->
          
        </footer>

    </body>
</html>