{% extends 'tapasapp/base.html' %}
{% load static %}

{% block content %}
<h1>LOGIN PAGE</h1>

<form action="{% url 'login' %}" method="POST">{% csrf_token %}
    <label for="username">Username: </label>
    <input type="email" name="username" id="username">

    <label for="password">Password: </label>
    <input type="password" name="password" id="password" minlength="8">

    <input type="submit">
</form>

<a href="{% url 'signup' %}"><button class="btn btn-info">SIGNUP</button></a>
{% endblock %}