{% extends 'tapasapp/base.html' %}
{% load static %}

{% block content %}
<h1>CHANGE PASSWORD:</h1>

<form action="{% url 'change_password' lia.pk %}" method="POST">{% csrf_token %}
    <label for="current_password">Current Password: </label>
    <input type="text" name="current_password" id="current_password" minlength="8">

    <label for="new_password">New Password: </label>
    <input type="text" name="new_password" id="new_password" minlength="8">

    <label for="confirm_new_password">Confirm New Password: </label>
    <input type="text" name="confirm_new_password" id="confirm_new_password" minlength="8">

    <input type="submit">
</form>
{% endblock %}